<div class="maincontent-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-content-right fs-content">
                    <div class="product-breadcroumb">                
                        
                    </div>
                </div>
                <%product.forEach(function(c){%>
                <div class="latest-product col-md-3">
                    <div class="product-carousel">
                        <div class="single-product">
                            <div class="product-f-image product-upper">
                                <img src="/static/product-images/<%= c._id%>/<%= c.image%>" alt="">
                                <div class="product-hover">
                                    <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to
                                        cart</a>
                                    <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i>
                                        See details</a>
                                </div>
                            </div>
                            <h2><a href="/products/<%=c.category%>/<%=c.slug%>"><%= c.title%></a></h2>

                            <div class="product-carousel-price">
                                <ins>$<%= parseFloat(c.price).toFixed(2)%></ins> <del>$100.00</del>
                            </div>
                        </div>
                    </div>
                </div>
                <%})%>
            </div>
        </div>
    </div>
</div> <!-- End main content area -->